<h1><i>Handle Bar Test Component</i></h1>
<h4>The this context : </h4>
<code>{{this}}</code>
<br>
<br>    
<h4>This is from custom helper foo-text : {{foo-text fruitdata valuez=fruitdata.text}}</h4>

<br>
<h5>Some data here with custom context : </h5>



{{#each fruitdata.fruitlist}}
<div>
{{#equals fruitName 'Apple'}}
<code> Data are -> {{fruitName}} </code>

{{else}}

    {{#equals fruitName 'Orange'}}
	<code style = "color:orange"> Data are -> {{fruitName}} </code>


	{{else}}
	{{#equals fruitName 'Pineapple'}}
	<div><code style = "color:GoldenRod"> Data are -> {{fruitName}} </code></div>

			{{else}}
			<div><code style = "color:Gray"> Data are -> {{fruitName}} </code></div>	
	{{/equals}}


	{{/equals}}



{{/equals}}
</div>
{{/each}}




<h5>Data root : </h5>
<code style="color:seagreen">{{root}}</code>
<br>
<br>    
{{&fruithelper fruitdata.fruitlist}}

 {{substring fruitdata.text 0 5}}